@model NewProjNameModel

@{
    ViewData["Title"] = "Name";
}

@if(Model.ID == "1")
{
    <p>
        <strong>My Name:</strong> <code>@Model.Name</code>
    </p>
}

<h1>Name</h1>
<p>Hey all !!!!!!!!!!!!!!!!</p><br />
<p>My name is Ravi Yadav</p><br />
<p>This is going to be my first paraghraph</p>
<br />
